
**pycache**/
*.py[cod]
*$py.class

*.safetensors
quantized/
venv/
.env/
.venv/
env/
ENV/
/*venv_ft

.env
.env.*
*.env
*.key
*.pem
*.json

/__pycache__

config.yaml
model.yaml
secrets.yaml


/data
*.pt
*.pth
*.ckpt
*.bin
*.h5
*.onnx



.cache/
huggingface/
hf_cache/

# Large datasets

data/
datasets/
*.tsv
*.parquet
*.faiss
*.index
*.db
chroma/
weaviate/
logs/
*.log
.ipynb_checkpoints/
.pytest_cache/
.coverage
htmlcov/
build/
dist/
*.egg-info/
.eggs
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
*.sqlite3
*.db
temp/
tmp/

__init__.py*.gguf
*.gguf
