* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
}

.products-section {
  padding: 3rem 5%;
}

.products-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.products-header h2 {
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.category-tabs {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.category-tabs li {
  cursor: pointer;
  color: #777;
  font-size: 0.9rem;
}

.category-tabs .active {
  color: black;
  border-bottom: 2px solid red;
  padding-bottom: 4px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}


.product-card {
  background: white;
  padding: 1rem;
  position: relative;
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-img {
  position: relative;
  overflow: hidden;
}

.product-img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 4px 8px;
  font-size: 0.7rem;
  color: white;
  font-weight: bold;
}

.sale { 
    background: red; 
}
.new { 
    background: green;
}
.out { 
    background: black;
}

.product-info {
  text-align: center;
  padding-top: 1rem;
}

.product-info h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.rating {
  color: #f4b400;
  font-size: 0.9rem;
}

.price {
  font-weight: bold;
  margin-top: 0.5rem;
}

button{
    height:30px;
    width:40px;
    background-color: rgb(119, 119, 119);
    color:white;
    border:none;
    padding:5px;
    border-radius: 5px;
}

input{
    height:30px;
    padding:4px;
    border:none;
    outline:none;
    background-color: #e9e9e9;
    border-radius: 5px;

}

@media (max-width: 1200px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
}
