*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body {
    height : 100%;
    width : 100%;
    font-family: 'Poppins' , sans-serif;
    
}

.container{
    width:100vw;
    min-height : 100vh;
    padding:10px;
    background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);

}

.todo{
    width:100%;
    max-width: 540px;
    background-color: #FFF0F5;
    margin:100px auto 20px;
    padding:30px;
    border-radius : 20px;
    flex-wrap: wrap;

}

.todo > h2{
    display: flex;
    margin-bottom: 20px;
    gap : 17px;
    justify-content: center;
    align-items: center;
}

.todo > h2 >  img{
    height:30px;
    width:30px;
}
.container, .todo {
    overflow: hidden; 
    word-wrap: break-word;
}

.addTask {
    display: flex;
    justify-content: center;
    align-items: center;
}

.addTask > input {
    height:50px;
    width:100%;
    max-width:490px;
    border-radius: 40px;
    border-style:none ;
    padding: 10px 80px 10px 20px;
    font-size: 14px;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    color:white;
    outline: none;
}

input::placeholder {
    color: rgb(221, 221, 221);
    font-style :normal;
}

.addTask > button{
    height : 50px;
    width:180px;
    border-radius: 40px;
    margin-left : -70px;
    border-style: none;
    background-color: rgb(148, 212, 0);
    cursor:pointer;
    font-size: 14px;
    outline:none;
    
}
.addTask > button:hover {
    background-color: rgb(128, 192, 0);
}

ul li {
    list-style: none;
    padding:20px 40px 3px 40px;
    font-size:17px;
    font-weight: 400;
    user-select:none;
    cursor:pointer;
    position: relative;
    overflow-wrap: break-word;
    white-space: wrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    max-width: 100%; 
    display: block; 

}

ul li::before{
    content : '';
    position : absolute;
    height:28px;
    width:28px;
    border-radius : 50%;
    background-image: url("https://raw.githubusercontent.com/aadityashestabit/Aaditya_Sharma_Trainee_Hestabit/main/images/unchecked.png");
    background-size: cover;
    background-position: center;
    top:20px;
    left:2px;
}
    
ul li.checked{
    color:#7e7d7d;
    text-decoration: line-through;

    
}

ul li.checked::before{
    background-image: url("https://raw.githubusercontent.com/aadityashestabit/Aaditya_Sharma_Trainee_Hestabit/main/images/checked.png");
    content : '';
    position : absolute;
    overflow-wrap: break-word;
    max-width: 100%;
    height:28px;
    width:28px;
    border-radius : 50%;
    background-size: cover;
    background-position: center;
    top:20px;
    left:2px;

}

ul li span{
    position : absolute;
    right: 0px;
    top : 12px;
    height: 40px;
    width : 40px;
    font-size: 22px;
    color : #484848;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
}


ul li span:hover{
    background-color: #b8b8b8;
    border-radius: 50%;
}


@media (max-width: 600px) {
    .todo {
        max-width: 90%;
        padding: 20px;
    }

    .addTask > input {
        max-width: 80%;
    }
}